/**
 * Here's any sort of default base styling the site has. The vast majority of changes
 * should not be on a base element, like here, but in classes exposed in other files
 */

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-weight: 100;
    min-height: 100vh;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

/* Adds a slight border on the sides of the main content for smaller devices */
@media (max-width: $maxWidth) {
    body {
        border-left: $bodyBorderWidth solid $primary;
        border-right: $bodyBorderWidth solid $primary;
    }
}

a {
    color: $primary;
    text-decoration: none;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

label {
    cursor: pointer;
}

main {
    padding: 17.5px 0 $mainBottomPadding;
}

section {
    padding-top: $mainBottomPadding / 2;
    overflow: auto;
}
