/**
 * CONTENTS
 *
 * Colours...............Common colours used throughout the site
 * Fonts.................Font groupings
 * Layout................Useful site layout sizes, breakpoints etc
 * Text..................Sizes etc for site wide text state
 * Modal.................Modal dialog
 * Navigation............The navigation that sits in the header
 * Events................The table of events
 * Sources Grid..........The grid event sources
 * Buttons...............Button styling
 * Graphs................Graph layout details
 * Mobile................Any mobile specific details that don't fit under the categories above
 */

/*------------------------------------*\
    #COLOURS
\*------------------------------------*/
$primary: #e54028;
$secondary: #ccc;

$headerText: #fff;
$headerSecondary: lighten($primary, 15%);

$text: #232323;

/*------------------------------------*\
    #FONTS
\*------------------------------------*/
$megaphone: Megaphone, Impact;
$helvetica: helvetica, arial, sans-serif;

/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/
$maxWidth: 940px;
$tabletWidth: 540px;
$mainBottomPadding: 35px;

$borderRadius: 5px;

/*------------------------------------*\
    #TEXT
\*------------------------------------*/
$alphaTextSize: 32px;
$betaTextSize: 24px;
$cappaTextSize: 18px;
$bodyTextSize: 14px;

/*------------------------------------*\
    #MODAL
\*------------------------------------*/
$modalContainerBackground: rgba(35, 35, 35, 0.6);
$modalBackground: #fff;

$modalMaxHeight: 350px;
$modalPadding: 20px;
$modalFooterHeight: 70px;

/*------------------------------------*\
    #NAVIGATION
\*------------------------------------*/
$navigationHeight: 42px;
$navigationTopOffsetMobile: 60px;

/*------------------------------------*\
    #EVENTS
\*------------------------------------*/
$eventHeight: 50px;

$dayPercent: percentage(50 / 940);
$datePercent: percentage(40 / 940);
$timePercent: percentage(105 / 940);
$groupPercent: percentage(260 / 940);
$titlePercent: percentage(265 / 940);
$locationPercent: percentage(220 / 940);

$eventHeightMobile: $eventHeight * 2;

$dayPercentMobile: 8%;
$datePercentMobile: 8%;
$timePercentMobile: 14%;
$groupPercentMobile: 70%;
$titlePercentMobile: 50%;
$locationPercentMobile: 30%;


/*------------------------------------*\
    #SOURCES GRID
\*------------------------------------*/
$sourcesCellHeight: 40px;

/*------------------------------------*\
    #BUTTON
\*------------------------------------*/
$borderBorderColor: #d6d6d6;
$buttonPadding: 10px;
$buttonColor: #f7f7f7;
$buttonText: #676767;

$buttonPrimaryPadding: 50px;
$buttonPrimaryColor: #009900;
$buttonPrimaryText: #fff;

/*------------------------------------*\
    #GRAPHS
\*------------------------------------*/
$graphHeight: 60px;

/*------------------------------------*\
    #MOBILE
\*------------------------------------*/
