<section class="modalContainer u-hidden js-modalContainer" id="section-customise" role="dialog" aria-labelledby="customise-label" aria-describedby="customise-desc">
  <div class="modal">
    <header class="modalHeader">
      <h2 id="customise-label" class="modalTitle">Customise</h2>
      <p id="customise-desc">Select which event sources you want to include in the listing</p>
    </header>
    <div class="modalBody">


      <fieldset class="sources js-source">
        <legend class="sourcesTitle" aria-live="polite">Sources <span class="sourcesSelected js-sourceTotalCount">(7 of 9 selected)</span></legend>
        <input type="checkbox" id="allSources" class="u-hidden sourcesCheck js-sourceTotalCheck" checked="checked">
        <span class="sourcesCheckDisplay sourcesCheckDisplay-circle"></span>
        <label class="sourcesLabel" for="allSources"><strong>All sources</strong></label>
        <div class="pure-g sourcesGrid" id="sourceTemplateContainer">
            <div id="sourceTemplate">
                <div class="pure-u-1-3 sourcesGridCell">
                    <input type="checkbox" id="{{formattedName}}" class="u-hidden sourcesCheck js-sourceCheck" checked="checked">
                    <span class="sourcesCheckDisplay"></span>
                    <label class="sourcesLabel" for="{{formattedName}}">{{name}}</label>
                </div>
            </div>
        </div>
      </fieldset>

    </div>
    <footer class="modalFooter">
      <div class="modalFooter--buttonHolder">
        <button class="button button-primary">Update</button>
        <button class="button button-secondary js-closeDialog" aria-controls="section-customise">Cancel</button>
      </div>
    </footer>
  </div>
</section>
