<% title 'Something went wrong' %>

<main class="l-mainContent" id="section-design" role="main" aria-labelledby="calender-label">
  <section>
    <h2 class="title">Oops.</h2>

    <p>Something went wrong.</p>

    <% if request.path == '/' %>
      <p>Sorry about that. Check back later!</p>
    <% else %>
      <p><a href="/">Return home</a></p>
    <% end %>
  </section>
</main>
