<% title 'Something went wrong' %>

<main class="l-mainContent" role="main">
  <section role="region" aria-labelledby="errorHeading">
    <h2 id="errorHeading" class="title">Oops.</h2>

    <p>Something went wrong.</p>

    <% if request.path == '/' %>
      <p>Sorry about that. Check back later!</p>
    <% else %>
      <p><a href="/">Return home</a></p>
    <% end %>
  </section>
</main>
