<% title 'Upcoming events' %>

<main class="l-mainContent" id="section-design" role="main" aria-labelledby="calender-label">
  <section>
    <% calendar.events.group_by { |event| event.start_time.strftime('%B') }.each do |month, events| %>
    <h2 class="title"><%= month %></h2>
      <% events.each do |event| %>
        <%= erb :event, locals: { event: event } %>
      <% end %>
    <% end %>
  </section>

  <p>That's it! Those are all the design events currently listed.</p>
  <p>Check back whenever for updates.</p>

</main>
