<div id="graph" class="calendar-graph">
  <div class="six-months">
    <div class="month active">
      <span class="axis"></span>
      <span class="bar one"></span>
      <span class="bar two"></span>
      <span class="bar three"></span>
      <span class="bar four"></span>
      <span class="bar five"></span>
      <span class="title-month">Jun</span>
      <span class="title-year">2013</span>
    </div>
    <div class="month">
      <span class="axis"></span>
      <span class="bar one"></span>
      <span class="bar two"></span>
      <span class="bar three"></span>
      <span class="bar four"></span>
      <span class="bar five"></span>
      <span class="title-month">Jul</span>
    </div>
    <div class="month">
      <span class="axis"></span>
      <span class="bar one"></span>
      <span class="bar two"></span>
      <span class="bar three"></span>
      <span class="bar four"></span>
      <span class="bar five"></span>
      <span class="title-month">Aug</span>
    </div>
    <div class="month">
      <span class="axis"></span>
      <span class="bar one"></span>
      <span class="bar two"></span>
      <span class="bar three"></span>
      <span class="bar four"></span>
      <span class="bar five"></span>
      <span class="title-month">Sep</span>
    </div>
    <div class="month">
      <span class="axis"></span>
      <span class="bar one"></span>
      <span class="bar two"></span>
      <span class="bar three"></span>
      <span class="bar four"></span>
      <span class="bar five"></span>
      <span class="title-month">Oct</span>
    </div>
    <div class="month">
      <span class="axis"></span>
      <span class="bar one"></span>
      <span class="bar two"></span>
      <span class="bar three"></span>
      <span class="bar four"></span>
      <span class="bar five"></span>
      <span class="title-month">Nov</span>
    </div>
    <div class="month">
      <span class="axis"></span>
      <span class="bar one"></span>
      <span class="bar two"></span>
      <span class="bar three"></span>
      <span class="bar four"></span>
      <span class="bar five"></span>
      <span class="title-month">More</span>
    </div>
  </div>
</div>
