<header class="header" role="banner">
  <div class="l-mainContent">
    <h1 class="headerTitle" id="calender-label">Event Calendar</h1>

    <div class="headerActions">
      <p>Feel free to <button class="headerAction js-navLink" aria-controls="section-customise">customise this listing</button> and <button class="headerAction js-navLink" aria-controls="section-export">export to your calendar</button></p>
    </div>

    <div class="graphScroller">
        <div class="graphHolder js-graph"></div>
    </div>
  </div>
</header>
