<header class="header" role="banner">
  <div class="l-mainContent">
      <h1 class="headerTitle" id="calender-label">Design Event Calendar</h1>

    <nav class="headerNavigation" role="navigation">
      <!-- <p class="headerNavigation-text" role="tablist">See the <a href="#" class="headerLink" role="tab" aria-controls="section-dev" aria-selected="false">Dev Event Calendar</a></p> -->
      <p class="headerNavigation-text" role="tablist">Feel free to <a href="#" class="headerLink js-navLink" role="tab" aria-controls="section-customise" aria-selected="false">customise this listing</a> and <a href="#" class="headerLink js-navLink" role="tab" aria-controls="section-export" aria-selected="false">export to your calendar</a></p>
      </nav>

    <div class="graphHolder js-graph"></div>
  </div>
</header>
